@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap');

:root{
    --dark1: #1f1e1e;
    --dark2: #272727;
    --color1: #009999;
    --color2: #015858;
    --white1: #fff;
    --white2: #e6e6e6;
    --boxShadow1: 0 6px 30px rgba(0, 0, 0, 0.08);
}

body{
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
    color: var(--dark1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

a{
    color: var(--dark2);
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
}

img{
    width: 100%;
}

/* BUTTONS ------------------------------------------- */
.btn {
    padding: 9px 24px;
}

.btn-brand {
    background-color: var(--color1);
    color: var(--white2);
    border-color: var(--color1);
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-brand:hover {
    color: var(--white1);
    background-color: var(--color2);
}


/* TOP NAV ------------------------------------------ */
.top-nav {
    background-color: var(--color1);
    padding: 5px 0;
}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 1rem;
    color: var(--white1);
    font-size: 1rem;
    font-weight: 500;
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.top-nav .social-links a{
        width: 34px;
        height: 34px;
        background-color: rgba(255, 255, 255, 0.3);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--white1);
        font-size: 1.2rem;
        border-radius: 100%;
    }

    .top-nav .social-links a:hover{
        color: var(--dark1);
        background-color: var(--white2);
    }

    /* NAV BAR ------------------------------------ */
    .navbar{
        box-shadow: var(--boxShadow1);

    }

    .navbar-brand {
        font-weight: 700;
        font-size: 2rem;
        color: var(--dark1);
    }

    .navbar-brand span{
        color: var(--color1);
        font-size: 3rem;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link:active {
        color: var(--color1);
    }
